<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>珠峰培训</title>
</head>
<body>
    <div id="app">
        <!--<input type="text" v-model="text" @keyup="keyup">-->
        <input type="text" v-model="text" @keyup.enter="keyup2">
        <ul>
            <li v-for="(val,i) in ary">
                {{val}}
                <!--修饰符  stop 阻止冒泡；prevent 阻止默认事件-->
                <button @click.stop.prevent="del(i)">删除</button>
            </li>
        </ul>
    </div>
</body>
</html>
<script src="node_modules/vue/dist/vue.js"></script>
<script>
    let vm = new Vue({
        el:'#app',
        data:{
            text:'',
            ary:[] // 存储每次放进来的输入框内容
        },
        methods:{
            keyup(e){ // 键盘抬起时触发的事件
                let code = e.keyCode;// 抬起键盘对应的键盘码
                this.text = this.text.replace(/^ +/g,'');
                if(code == 13 && this.text){
                    this.ary.push(this.text);// 把text放到数组中
                    this.text = '';// 把 输入框内容清空；
                }
            },
            keyup2(){
                this.text = this.text.replace(/^ +/g,'');
                //'    '  ---> ''
                if(!this.text)return;
                this.ary.push(this.text);// 把text放到数组中
                this.text = '';// 把 输入框内容清空；
            },
            del(i){
                // 删除点击的那一项 ---》删除数组中的某项 需要索引
                this.ary.splice(i,1);
            }
        }
    })
</script>  