<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>珠峰培训</title>
</head>
<body>
    <div id="app">
        {{name}}
        <input type="checkbox" v-model="checked" value=1> 苹果
        <input type="checkbox" v-model="checked" value=2> 栗子
        <input type="checkbox" v-model="checked" value=3> 香蕉
        <!--<input type="text" v-model="name" value="123">-->
        <br>
        {{checked}}
    </div>
</body>
</html>
<script src="node_modules/vue/dist/vue.js"></script>
<script>
    let vm = new Vue({
        el:"#app",
        data:{
            name:"珠峰培训",
            checked:[] // 在 checkbox上只有true和false
        }
    })
</script>  