<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no">
    <title>Title</title>
    <link rel="stylesheet" href="">
    <style type="text/less">

    </style>
    <script src=""></script>
</head>
<body>
<div id='app'>
    <template v-if="!flag">
        <div>珠峰</div>
        <div>2018</div>
    </template>
    <!--<div v-else-if="true">-->
        <!--培训-->
    <!--</div>-->
    <!--<div v-else>-->
        <!--2019-->
    <!--</div>-->
    <!--<button @click="change">按钮</button>-->

    <button @click="flag=!flag">按钮</button>
    <template v-if="flag">
        <!--<label for="inp">登录</label>-->
        <!--<label> 标签为 input 元素定义标注（标记）。

label 元素不会向用户呈现任何特殊效果。不过，它为鼠标用户改进了可用性。如果您在 label 元素内点击文本，就会触发此控件。就是说，当用户选择该标签时，浏览器就会自动将焦点转到和标签相关的表单控件上。

<label> 标签的 for 属性应当与相关元素的 id 属性相同.-->
        <!--<input type="text" id="inp">-->
        <label >登陆</label>
        <input  type="text" key="1">
    </template>

    <template v-else>
        <label >注册</label>
        <input type="text" key="2">
    </template>
</div>

</body>
</html>
<script src="node_modules/vue/dist/vue.js"></script>
<script>

    let vm = new Vue({
        el: '#app',
        data: {
            flag:true,
        },
        methods:{
            change(){
                this.flag=!this.flag;
            }
        }
    })
</script>