<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>珠峰培训</title>
    <style>
        [v-cloak]{
            /*//所有行间有 v-cloak 的元素 的样式*/
            display: none;
        }
    </style>
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.css">
</head>
<body>
    <div id="app" v-cloak>
        <table class="table table-bordered text-center table-striped">
                <thead>
                <tr>
                    <th><input type="checkbox">全选</th>
                    <th>商品</th>
                    <th></th>
                    <th></th>
                    <th>单价</th>
                    <th>数量</th>
                    <th>小计</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="(item,i) in list">
                    <td><input type="checkbox"></td>
                    <td>
                        <!--行内属性  VUE中用 v-bind:src= 去绑定
                         简写 用 :src=
                         -->
                        <img :src="item.pic" alt="">
                    </td>
                    <td><p>{{item.title}}</p></td>
                    <td><p>{{item.desc}}</p></td>
                    <td>
                        {{item.price | toFixed()}}
                    </td>
                    <!--min=1 是表示这个input输入框的最小值-->
                    <!--<td><input type="text"  v-model="item.count" @input="change(item.count,i)"></td>-->
                    <!--v-model.trim 修饰符 去除首尾空格-->
                    <!--v-model.number 修饰符 item.count变成数字-->
                    <td><input type="text"  v-model="item.count" @input.stop="change(item)"></td>

                    <!--<td>{{(item.count*item.price/100).toFixed(2)}}</td>-->
                    <td>{{item.count*item.price | toFixed()}}</td>
                    <td><button class="btn btn-danger" @click="remove(item)">删除</button></td>
                </tr>
                </tbody>

            </table>
    </div>
</body>
</html>
<script src="../node_modules/axios/dist/axios.js"></script>
<script src="../node_modules/vue/dist/vue.js"></script>
<script>
    let vm = new Vue({
        el:'#app',
        // created:function(){},
        created(){
            // 一进来就执行 // 这里边的this 也是执行 这个vm 实例的
            this.getData();
        },
        data:{
            list:[]
        },
        methods:{
            // getData:function(){},
            getData(){
                axios.post('./data.json',{name:'zf'}).then((data)=>{
                    console.log(data);
                    // 获取到数据之后给谁
                    this.list = data.data;
                }).catch((res)=>{
                    console.log(res);
                })
            },
            /*change(n,index){
                // n = 12;
                //把 n 处理成 大于0 的正整数；
                console.log(n);
                n = n.replace(/\D/g,'');
                n = n < 0 ? 1 : n;
                this.list[index].count = n;
            },*/
            change(item){
                // console.log(item);
                let n = item.count;
                n = n.replace(/\D/g,'');
                n = n < 0 ? 1 : n;
                item.count = n;
            },
            remove(item2){
                this.list = this.list.filter((item,index)=>{
                    return item2 !== item
                });
                // this.list.splice(i,1);
            }
        },
        filters:{
            toFixed(val,n=2){
                // n = n || 2;
                return "￥"+(val/100).toFixed(n);
            }
        }
    })
</script>  