
@c:400px;
@b:200px;
@img:'../img/';
//变量@q : 值用变量运算时 ; 需要注意用空格隔开
@color:#fff;
@box:div2;
#div1{
   border: #5f5999 2px solid;
  .oul{
    width: 200px;
    height: @c + @b;
    background: @color;
    list-style: none;
    background: url("@{img}1.jpg");
  }
}
#@{box}{

}
