* {
  margin: 0;
  padding: 0;
  list-style: none;
}
.lt {
  float: left;
}
.rt {
  float: right;
}
.hidden {
  display: none;
}
.w,
section.loadingBox,
section.indexBox,
section.Personal,
section.self,
section.worked,
section.contact {
  width: 100%;
  height: 100%;
}
html,
body {
  width: 100%;
  height: 100%;
  position: relative;
}
section.loadingBox {
  background: #000;
  z-index: 50;
  transition: opacity 0.8s 1s;
}
section.loadingBox header {
  position: relative;
  top: 25%;
  color: #fff;
  text-align: center;
}
section.loadingBox header h2 {
  font-size: 0.66666667rem;
}
section.loadingBox .progress {
  position: absolute;
  left: 10%;
  top: 54%;
  width: 80%;
  height: 0.53333333rem;
  background: #fff;
  border-radius: 0.66666667rem;
  overflow: hidden;
}
section.loadingBox .progress .progressBar {
  width: 0;
  height: 100%;
  background: linear-gradient(45deg, #6faa6d 0%, #6faa6d 25%, #77c570 25%, #77c570 50%, #6faa6d 50%, #6faa6d 75%, #77c570 75%, #77c570 100%);
  transition: width 1s;
  background-size: 0.53333333rem 0.53333333rem;
}
section.indexBox {
  background: #000;
  color: #fff;
}
section.indexBox .bg1 {
  width: 100%;
  height: 100%;
  background: url("../img/index_bg1.webp") no-repeat;
  background-size: cover;
}
section.indexBox .bg1 .bg2 {
  width: 100%;
  height: 90%;
  background: url("../img/index_bg2.webp") no-repeat;
  background-size: 100% 100%;
  position: relative;
  top: 0.8rem;
}
section.indexBox .title {
  width: 6rem;
  height: 6rem;
  margin: 0 auto;
  position: relative;
}
section.indexBox .title .title1 {
  width: 100%;
  position: relative;
  top: 1.06666667rem;
}
section.indexBox .title .title1 img {
  width: 100%;
  height: 100%;
}
section.indexBox .title .title2 {
  width: 80%;
  position: absolute;
  top: 1.6rem;
  margin-left: 13%;
}
section.indexBox .title .title2 img {
  width: 100%;
  height: 100%;
}
section.indexBox .name {
  width: 6.66666667rem;
  display: flex;
  margin: 0 auto;
  padding: 0.4rem 0.8rem 0.13333333rem;
  box-sizing: border-box;
}
section.indexBox .name h2 {
  flex: 1;
  font-size: 0.66666667rem;
  font-weight: normal;
  text-align: center;
  color: #eccb2e;
}
section.indexBox .name img {
  width: 0.8rem;
  height: 0.8rem;
  position: relative;
  top: 0.26666667rem;
}
section.indexBox h2 {
  text-align: center;
  font-weight: normal;
  font-size: 0.66666667rem;
}
section.indexBox .type_bg {
  width: 60%;
  margin-left: 20%;
}
section.indexBox .type_bg img {
  width: 100%;
  height: 100%;
}
section.indexBox .type {
  color: #000;
  font-size: 0.66666667rem;
  position: relative;
  top: -1.06666667rem;
}
section.indexBox .city {
  position: relative;
  bottom: -0.53333333rem;
}
section.indexBox .city h3 {
  text-align: center;
  font-size: 0.45333333rem;
  font-weight: normal;
}
section.indexBox .city img {
  width: 70%;
  height: 70%;
  margin-left: 15%;
}
section.Personal {
  background: #000;
  color: #fff;
}
section.Personal .bg1 {
  width: 100%;
  height: 100%;
  background: url("../img/index_bg1.webp") no-repeat;
  background-size: cover;
}
section.Personal .bg1 .bg2 {
  width: 100%;
  height: 90%;
  background: url("../img/index_bg2.webp") no-repeat;
  background-size: 100% 100%;
  position: relative;
  top: 0.8rem;
}
section.Personal .title {
  position: relative;
  top: 1.2rem;
}
section.Personal .title div {
  display: flex;
}
section.Personal .title div h2 {
  flex: 1;
  font-size: 0.66666667rem;
  font-weight: normal;
  text-align: center;
}
section.Personal .title div div {
  width: 1.33333333rem;
  height: 1.33333333rem;
}
section.Personal .title div div img {
  width: 100%;
  height: 100%;
}
section.Personal .title div .title_l {
  float: left;
  position: relative;
  left: 2rem;
  top: 0.8rem;
}
section.Personal .title div .title_r {
  float: right;
  position: relative;
  right: 2.26666667rem;
  top: -0.53333333rem;
}
section.Personal .title p {
  text-align: center;
  color: #eccb2e;
  font-size: 0.4rem;
  position: relative;
  top: -0.4rem;
}
section.Personal .photo {
  width: 3.33333333rem;
  height: 3.33333333rem;
  margin: 1.46666667rem auto 0;
  border-radius: 50%;
  border: 4px solid #eccb2e;
  overflow: hidden;
}
section.Personal .photo img {
  width: 100%;
  height: 100%;
}
section.Personal .info {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}
section.Personal .info h2.name {
  color: #eccb2e;
  font-weight: normal;
  font-size: 0.53333333rem;
  margin-top: 0.26666667rem;
}
section.Personal .info h2.type {
  color: #000;
  font-size: 0.53333333rem;
  position: relative;
  top: -0.93333333rem;
}
section.Personal .info .msg {
  line-height: 0.66666667rem;
  position: relative;
  top: -0.4rem;
}
section.Personal .info .msg p {
  font-size: 0.4rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
section.self {
  background: #000;
  color: #fff;
}
section.self .bg1 {
  width: 100%;
  height: 100%;
  background: url("../img/index_bg1.webp") no-repeat;
  background-size: cover;
}
section.self .bg1 .bg2 {
  width: 100%;
  height: 90%;
  background: url("../img/index_bg2.webp") no-repeat;
  background-size: 100% 100%;
  position: relative;
  top: 0.8rem;
}
section.self .title {
  position: relative;
  top: 1.2rem;
}
section.self .title div {
  display: flex;
}
section.self .title div h2 {
  flex: 1;
  font-size: 0.66666667rem;
  font-weight: normal;
  text-align: center;
}
section.self .title div div {
  width: 1.33333333rem;
  height: 1.33333333rem;
}
section.self .title div div img {
  width: 100%;
  height: 100%;
}
section.self .title div .title_l {
  float: left;
  position: relative;
  left: 2rem;
  top: 0.8rem;
}
section.self .title div .title_r {
  float: right;
  position: relative;
  right: 2.26666667rem;
  top: -0.53333333rem;
}
section.self .title p {
  text-align: center;
  color: #eccb2e;
  font-size: 0.4rem;
  position: relative;
  top: -0.4rem;
}
section.self .icon {
  width: 1.6rem;
  height: 1.6rem;
  margin: 0.8rem auto -0.13333333rem;
}
section.self .icon img {
  width: 100%;
  height: 100%;
}
section.self .setence {
  width: 80%;
  padding: 0.13333333rem;
  margin: 0 auto;
  line-height: 0.8rem;
  border: #fff 3px solid;
  border-radius: 5px;
  font-size: 0.4rem;
}
section.self .active {
  width: 80%;
  margin: 0.4rem auto 0;
  display: flex;
}
section.self .active .name {
  color: #eccb2e;
  font-size: 0.4rem;
}
section.self .active .name p {
  line-height: 0.8rem;
}
section.self .active .name p.space {
  margin-top: 0.66666667rem;
}
section.self .active .val {
  flex: 1;
  font-size: 0.4rem;
  margin-left: 0.13333333rem;
}
section.self .active .val p {
  line-height: 0.8rem;
}
section.worked {
  background: #000;
  color: #fff;
}
section.worked .bg1 {
  width: 100%;
  height: 100%;
  background: url("../img/index_bg1.webp") no-repeat;
  background-size: cover;
}
section.worked .bg1 .bg2 {
  width: 100%;
  height: 90%;
  background: url("../img/index_bg2.webp") no-repeat;
  background-size: 100% 100%;
  position: relative;
  top: 0.8rem;
}
section.worked .title {
  position: relative;
  top: 1.2rem;
}
section.worked .title div {
  display: flex;
}
section.worked .title div h2 {
  flex: 1;
  font-size: 0.66666667rem;
  font-weight: normal;
  text-align: center;
}
section.worked .title div div {
  width: 1.33333333rem;
  height: 1.33333333rem;
}
section.worked .title div div img {
  width: 100%;
  height: 100%;
}
section.worked .title div .title_l {
  float: left;
  position: relative;
  left: 2rem;
  top: 0.8rem;
}
section.worked .title div .title_r {
  float: right;
  position: relative;
  right: 2.26666667rem;
  top: -0.53333333rem;
}
section.worked .title p {
  text-align: center;
  color: #eccb2e;
  font-size: 0.4rem;
  position: relative;
  top: -0.4rem;
}
section.worked .icon {
  width: 1.6rem;
  height: 1.6rem;
  margin: 0.8rem auto -0.13333333rem;
}
section.worked .icon img {
  width: 100%;
  height: 100%;
}
section.worked .company {
  width: 80%;
  height: 8.66666667rem;
  margin: 0 auto ;
  border-left: #fff solid 2px;
  box-sizing: border-box;
  padding-left: 0.8rem;
}
section.worked .company .dot {
  width: 0.4rem;
  height: 0.4rem;
  border-radius: 50%;
  background: #eccb2e;
  position: relative;
  top: 1.01333333rem;
}
section.worked .company p {
  font-size: 0.4rem;
  line-height: 0.8rem;
  margin: 0.26666667rem;
  padding-left: 0.26666667rem;
}
section.contact {
  background: #000;
  color: #fff;
}
section.contact .bg1 {
  width: 100%;
  height: 100%;
  background: url("../img/index_bg1.webp") no-repeat;
  background-size: cover;
}
section.contact .bg1 .bg2 {
  width: 100%;
  height: 90%;
  background: url("../img/index_bg2.webp") no-repeat;
  background-size: 100% 100%;
  position: relative;
  top: 0.8rem;
}
section.contact .title {
  position: relative;
  top: 1.2rem;
}
section.contact .title div {
  display: flex;
}
section.contact .title div h2 {
  flex: 1;
  font-size: 0.66666667rem;
  font-weight: normal;
  text-align: center;
}
section.contact .title div div {
  width: 1.33333333rem;
  height: 1.33333333rem;
}
section.contact .title div div img {
  width: 100%;
  height: 100%;
}
section.contact .title div .title_l {
  float: left;
  position: relative;
  left: 2rem;
  top: 0.8rem;
}
section.contact .title div .title_r {
  float: right;
  position: relative;
  right: 2.26666667rem;
  top: -0.53333333rem;
}
section.contact .title p {
  text-align: center;
  color: #eccb2e;
  font-size: 0.4rem;
  position: relative;
  top: -0.4rem;
}
section.contact .icon {
  width: 1.6rem;
  height: 1.6rem;
  margin: 0.8rem auto -0.13333333rem;
}
section.contact .icon img {
  width: 100%;
  height: 100%;
}
section.contact .chatCode {
  width: 4rem;
  height: 4rem;
  margin: 0 auto 0;
}
section.contact .chatCode img {
  width: 100%;
  height: 100%;
}
section.contact h2 {
  font-weight: normal;
  font-size: 0.53333333rem;
  text-align: center;
}
section.contact .type {
  text-align: center;
  font-size: 0.4rem;
  margin-top: 0.26666667rem;
  color: #15c487;
  line-height: 0.53333333rem;
  margin-top: 0.4rem;
}
section.contact .type .space {
  margin-bottom: 0.26666667rem;
}
section.contact .end {
  text-align: center;
  position: relative;
  top: 0.4rem;
  font-size: 0.53333333rem;
  margin-top: 0.13333333rem;
  color: #c0180c;
}
section.up {
  width: 0.53333333rem;
  height: 0.4rem;
  position: absolute;
  bottom: 0.66666667rem;
  left: 50%;
  z-index: 10;
  animation: start 1.5s infinite ease-in-out;
}
section.up img {
  width: 100%;
  height: 100%;
}
#audio_btn {
  width: 1.06666667rem;
  height: 1.06666667rem;
  background-image: url('../img/music.png');
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  top: 1.46666667rem;
  right: 0.4rem;
  z-index: 200;
}
.rotate {
  -webkit-animation: rotating 1.2s linear infinite;
  -moz-animation: rotating 1.2s linear infinite;
  -o-animation: rotating 1.2s linear infinite;
  animation: rotating 1.2s linear infinite;
}
@-webkit-keyframes rotating {
  from {
    -webkit-transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes rotating {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
@-moz-keyframes rotating {
  from {
    -moz-transform: rotate(0);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}
@keyframes start {
  0%,
  30% {
    opacity: 0;
    transform: translateY(10px);
  }
  60% {
    opacity: 1;
    transform: translate(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-8px);
  }
}
.page_box {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}
